body{
    margin: auto;
    padding: 0;
    background-color: rgba(250, 235, 215, 0.501);
}
*{
    box-sizing: border-box;
}

button{
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}


button:hover{
    background: #6eba60;
}


/* header */
.header{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    border-bottom: 1px solid black;
    padding: 1rem 10rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    gap:5px;
}


.header .tag{
    font-size: larger;
    font-weight: bolder;
}

.input{
    display: flex;
    gap: 1rem;
    font-size: smaller;
    align-items: center;
}

/* ReciepeLists */

.reciepeCard{
    width: 300px;
    height: fit-content;
    text-align: center;
    border: 1px solid black;
    background-color: antiquewhite;
    padding: .5rem 1rem ;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 6px 5px 10px 0px #b7b7b7;;
}

.reciepeCard:hover{
    transform: scale(1.1);
}

.reciepeCard > img {
    border-radius: 50%;
}

.reciepeCard .name {
    font-size: large;
    font-weight: bold;
}
.reciepeList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    
    padding-top: 1rem;
    margin-bottom: 2rem;
}


/* detailedReciepe */

.detailedReciepe{
    position: fixed;
    top: 75px;
    height: 90vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    z-index: 5;
    
}

    .detailedReciepe .details{
        display: flex;
        gap: 3rem;
        margin: 5rem;
        justify-content: center;
        width: 70%;
    
    }

    .detailedReciepe .details > div {
        display: flex;
        flex-direction: column;
        gap : 1rem;
       ;
    }

    .detailedReciepe .details .imagediv{
        text-align: center;
    }

    .detailedReciepe .details > div > img {
        border-radius: 50%;
    }


    .ingridents  {
        padding: 0;
    }

    footer{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 2rem;
        background: white;
    }


    form.d-flex {
        margin: auto;
        margin-top: 1rem;
        
    }


    @media (width<700px) {
        .detailedReciepe .details{
            flex-direction: column;
            margin:1rem;

        
        }
        .detailedReciepe .details > div > img {
            height: 200px;
            width: 200px;
            margin: auto;
        }


        .detailedReciepe{
            
            gap:1px;
            justify-content: center;
            top:7rem;
            
        }
        .header{
            flex-direction: column;
            padding: 2rem;
            text-align: center;
            padding: 1rem;
        }

        form.d-flex {
            margin: auto;
            margin-top: 1rem;
            width: 80%;
            gap: 5px;
            
        }


        .reciepeCard{
            width: 200px;
            height: fit-content;
            border: 1px solid black;
            background-color: antiquewhite;
            padding: .5rem 1rem ;
            border-radius:15px;
            display: flex;
            flex-direction: column;
            gap:5px;
            
        }

        .input{
            width: 60%;
            margin: auto;
            font-size: 1rem;
            align-items: center;
        }
    }

    



    /* search bar */
    